<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd"> 

 <configuration>
 	<typeAliases>
 		<typeAlias type="java.lang.Long" alias="Long"/>
 		<typeAlias type="java.util.List" alias="List"/>
 		<typeAlias type="java.util.Map" alias="Map"/>
 		
 		<typeAlias type="com.pbw.main.bankbook.BankBookDTO" alias="BankBookDTO"/>
 		<typeAlias type="com.pbw.main.bankbook.BankBookFileDTO" alias="BankBookFileDTO"/>
 		<typeAlias type="com.pbw.main.member.MemberDTO" alias="MemberDTO"/>
 		<typeAlias type="com.pbw.main.member.MemberFileDTO" alias="MemberFileDTO"/>
 		<typeAlias type="com.pbw.main.board.notice.NoticeDTO" alias="NoticeDTO"/>
 		<typeAlias type="com.pbw.main.board.notice.NoticeFileDTO" alias="NoticeFileDTO"/>
 		<typeAlias type="com.pbw.main.board.qna.QnaDTO" alias="QnaDTO"/>
 		<typeAlias type="com.pbw.main.board.qna.QnaFileDTO" alias="QnaFileDTO"/>
 		<typeAlias type="com.pbw.main.board.BoardDTO" alias="BoardDTO"/>
 		<typeAlias type="com.pbw.main.bankbook.bookAccount.BookAccountDTO" alias="BookAccountDTO"/>
 		<typeAlias type="com.pbw.main.util.Pager" alias="Pager"/>
 		<typeAlias type="com.pbw.main.bankbook.comment.CommentDTO" alias="CommentDTO"/>
 	</typeAliases>
 </configuration>