<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.pbw.main.bankbook.bookAccount.BookAccountDAO">
  	<select id="getList" parameterType="MemberDTO" resultType="BookAccountDTO">
  		SELECT * FROM BANKACCOUNT WHERE ID=${id};
  	
  	</select>
  	
  	<insert id="setAdd" parameterType="bookAccountDTO">
  		INSERT INTO BOOKACCOUNT
  		VALUES
  		(ACCOUNT_SEQ.NEXTVAL, #{id}, #{bookNum}, #{account}, #{accountPassword}, 0, SYSDATE)
  	</insert>
  </mapper>
  
  
