<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.pbw.main.board.notice.NoticeDAO">
  
  	<select id="getTotal" resultType="Long" parameterType="com.pbw.main.util.Pager">
  		SELECT COUNT(NOTICENO) FROM NOTICE
  		<include refid="searchSql"></include>
  	</select>
  
  	<sql id="searchSql">
  		WHERE NOTICENO>0 
					
		<choose>
			<when test="kind=='name'">
				AND NOTICENAME LIKE '%'||#{search}||'%'
			</when>
			<otherwise>
				AND NOTICECONTENTS LIKE '%'||#{search}||'%'
			</otherwise>
		</choose>
		 
  	</sql>
  
  	<select id="getList" resultType="NoticeDTO" parameterType="com.pbw.main.util.Pager">
  		SELECT 
  			*
		FROM(
			SELECT 
				ROWNUM R, 
				N.* 
			FROM(
				SELECT
					* 
				FROM 
					NOTICE 
				<include refid="searchSql" />
				
				ORDER BY 
					NOTICENO DESC
				) N
			)
		WHERE
			R BETWEEN #{startRow} AND #{lastRow}
  	</select>
  	
  	<select id="getTotal" resultType="Long" parameterType="com.pbw.main.util.Pager">
  		SELECT COUNT(NOTICENO) FROM NOTICE
  		<include refid="searchSql"></include>
  	</select>
  	
  	<select id="getSequence">
  		SELETE NOTICE_SEQ.NEXTVAL FROM DUAL
  	</select>
  	
  	<insert id="setAdd" parameterType="NoticeDTO">
  		INSERT 
  		INTO 
  			NOTICE 
  		VALUES 
  			(
  				NOTICE_SEQ.NEXTVAL, 
  				#{noticeSubject}, 
  				#{noticeName}, 
  				SYSDATE, 
  				0, 
  				#{noticeContents}
  			)
  	</insert>
  	
  	<select id="getDetail" resultMap="getDetailResult" parameterType="NoticeDTO">  
  		SELECT 
  			N.*,
  			NF.* 
  		FROM
  			NOTICE N LEFT OUTER JOIN
  			NOTICEFILE NF ON N.NOTICENO = NF.NOTICENO
  		WHERE
  			N.NOTICENO=#{noticeNo}
  	</select>
  	
  		<resultMap type="NoticeDTO" id="getDetailResult">
  			<id column="NOTICENO" property="num"/>
  			<result column="NOTICENAME" property="name"/>
  			<result column="NOTICESUBJECT" property="subject"/>
  			<result column="NOTICEDATE" property="createDate"/>
  			<result column="NOTICEHIT" property="hit"/>
  			<result column="NOTICECONTENTS" property="contents"/>
  			
  			<collection property="fileDTOs" javaType="java.util.List" ofType="NoticeFileDTO">
  				<id column="FILENUM" property="fileNum"/>
				<result column="FILENAME" property="fileName"/>
				<result column="ORIGINALNAME" property="originalName"/>
  			
  			</collection>
  		</resultMap>
  	
  	
  	
  	<delete id="setDelete" parameterType="NoticeDTO">
  		DELETE 
  			NOTICE 
  		WHERE 
  			NOTICENO=#{noticeNo}
  	</delete>
  	
  	<update id="setUpdate" parameterType="NoticeDTO">
  		UPDATE 
  			NOTICE
  		SET 
  			NOTICESUBJECT=#{noticeSubject},
  			NOTICECONTENTS=#{noticeContents}
  		WHERE
  			NOTICENO=#{noticeNo}
  	</update>
  	
  	<update id="setHitCount">
		UPDATE
			NOTICE
		SET
			NOTICEHIT = NOTICEHIT + 1
		WHERE
			NOTICENO = #{noticeNo}
	</update>

	
  </mapper>
  
  
